@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');

body{
    background-color: rgb(224, 231, 238);
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: rgb(202, 255, 224) ; 
    font-family: "Jacquard 12 Charted", system-ui;
}

p{
    text-align: center;
}

em strong{
        color: red;
}
